[submodule "vim/bundle/DirDiff.vim"]
	path = vim/bundle/DirDiff.vim
	url = https://github.com/duellj/DirDiff.vim.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/LustyJuggler"]
	path = vim/bundle/LustyJuggler
	url = https://github.com/vim-scripts/LustyJuggler.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/fugitive.vim"]
	path = vim/bundle/fugitive.vim
	url = https://github.com/tpope/vim-fugitive.git
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "tmux-colors-solarized"]
	path = tmux-colors-solarized
	url = https://github.com/oconnor663/tmux-colors-solarized.git
[submodule "vim/bundle/ir_black"]
	path = vim/bundle/ir_black
	url = https://github.com/twerth/ir_black.git
[submodule "vim/bundle/vim-blackboard"]
	path = vim/bundle/vim-blackboard
	url = https://github.com/nelstrom/vim-blackboard
[submodule "vim/bundle/hardmode"]
	path = vim/bundle/hardmode
	url = https://github.com/wikitopian/hardmode.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-sensible"]
	path = vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
